.row {
    background-color: gray;
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: space-between;
}

.col,
.col-2,
.col-3 {
    flex: 1;
    margin: 30px;
    background-color: aqua;
    color: gray;
    text-align: center;
}