h1 {
    background-color: black;
    text-align: left;
    font-family: monospace;
    color: aqua;
    font-style: normal;
    font-size: 60px;
}

h2 {
    background-color: blueviolet;
    text-align: center;
    font-family: cursive;
    color: white;
    font-style: italic;
    font-size: 30px;
}

h3 {
    background-color: aquamarine;
    text-align: right;
    text-decoration: underline;
    font-family: sans-serif;
    color: blue;
    font-size: 20px;
}