.nav {
    background-color: #3b3a30;
    display: flex;
    border-radius: 20px;
    width: 1350px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.nav-links {
    display: flex;
    justify-content: space-around;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: grey;
    margin: 8px;
}

.nav-title {
    color: white;
    margin: 20px;
    margin-right: 800px;
    font-family: 'Roboto', sans-serif;
}

.active {
    color: white;
}

.btn {
    color: white;
    background-color: blue;
    border: 3px solid black;
}