        .container {
            width: 750px;
            height: 950px;
            background-color: azure;
            border-top: 5px solid black;
            padding-right: 10px;
            display: inline-block;
            margin-left: 300px;
            margin-top: 100px;
        }
        
        .box1 {
            background-color: turquoise;
        }
        
        .box2 {
            background-color: plum;
        }
        
        .box3 {
            background-color: white;
        }
        
        .box1,
        .box2,
        .box3 {
            margin: 20px;
            width: 700px;
            height: 230px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .img {
            width: 200px;
            height: 200px;
        }
        
        h1,
        p {
            text-align: center;
        }
        
        span {
            color: blue;
            text-decoration: underline;
        }