.button {
    color: #7dc8c8;
    border-radius: 30px;
    width: 150px;
    border-color: #7dc8c8;
    font-weight: 800;
}

.button2 {
    border-radius: 50px;
    background-color: #00d1b2;
    color: white;
    width: 40px;
    font-size: 20px;
}

.button3 {
    background-color: #2b78e4;
    width: 150px;
    color: white;
    box-shadow: 5px 6px 5px 0px #000000;
}

.button,
.button2,
.button3 {
    border-style: double;
    display: block;
    margin-bottom: 10px;
    height: 40px;
}

#box1 {
    margin-top: 100px;
    margin-left: 80px;
}